@{
    Layout = "~/Views/Shared/AdminDashBoard.cshtml";
    var programs = ViewBag.programs as List<_Program>;
    var instructors = ViewBag.instructors as List<Instructor>;
}
@model Track
    <form asp-action="@((Model == null) ? "Add" : "Edit")" asp-controller="Track" method="post">
    
        @if (Model != null)
        {
            <input type="hidden" asp-for="@Model.Id" />
        }

        <div class="form-group">
            <label asp-for="@Model.Name" class="form-label">Intake Name</label>
            <input asp-for="@Model.Name" class="form-control" id="IntakeName">
            <span asp-validation-for="@Model.Name" class="text-danger">  </span>
        </div>
            <div class="form-group">
                <label asp-for="@Model.Status" class="form-label">Status</label>
                <select asp-for="@Model.Status" class="form-select">
                    <option value="Active">Active</option>
                    <option value="Inactive">Inactive</option>
                </select>
                <span asp-validation-for="@Model.Status" class="text-danger"></span>
            </div>
        <div class="form-group" @(Model != null ? "hidden" : "")>
            <label asp-for="@Model.programID" class="form-label" >Program</label>
<select class="form-select" id="programSelect" name="programid" @(Model != null ? "hidden" : "")>
                <option value="">Select Program</option>
                @foreach (var program in programs)
                {
                if(Model != null && program.Id == Model.programID)
                {
                    <option value="@program.Id" Selected>@program.Name</option>
                }
                else
                {
                   <option value="@program.Id" >@program.Name</option>

                }
                }
            </select>
                        <span asp-validation-for="@Model.programID" class="text-danger"></span>

    </div>

        <button type="submit" class="btn btn-primary">@((Model == null ) ? "Add" : "Edit") Intake</button>
    </form>
    @section AdminScript{

               <script src="~/js/TrackAdd.js"></script>
    }

