@* Use layout *@

@model Employee

@{
	Layout = "~/Views/Shared/EmployeeDashBoard.cshtml";
	ViewBag.Title = "Employee Profile";
}


<div class="text-center">
	<h1 class="text-center">Employee Profile</h1>

	<table class="mt-3 table table-bordered">
		@* <tr>
			<td>Employee ID</td>
			<td>@Model.Id</td>
		</tr> *@
		<tr>
			<td>Name</td>
			<td>@Model.Name</td>
		</tr>
		<tr>
			<td>Email</td>
			<td>@Model.Email</td>
		</tr>
		<tr>
			<td>Phone</td>
			<td>@Model.Mobile</td>
		</tr>
		<tr>
			<td>Type</td>
			<td>@Model.Type</td>
		</tr>
		<tr>
			<td colspan="2">
				<a asp-action="edit" asp-route-id="@Model.Id">Edit</a>
			</td>
		</tr>
	</table>

</div>