
@model IEnumerable<Student>
@{
    	ViewBag.Title = "Record Attendance";
        Layout = "~/Views/Shared/EmployeeDashBoard.cshtml";

	@*recieve the date from viewBag*@
		var students = ViewBag.Students as List<Student>;
		var tracks = ViewBag.Tracks as List<Track>;
		var intakes = ViewBag.Intakes as List<Intake>;

		SelectList trackList = new SelectList(tracks, "Id", "Name");
		SelectList intakeList = new SelectList(intakes, "Id", "Name");
}

<h2 class="text-center">Record Attendance</h2>
		<select id="selectedTrack" name="Tid" class="form-control w-50 mx-auto my-1">
    <option value="">Select Track</option>
	@foreach (var track in ViewBag.Tracks)
    {
		if(ViewBag.track == track.Id)
		{
			<option value="@track.Id" selected>
				@track.Name
			</option>
		}
		else
		{
			<option value="@track.Id">
				@track.Name
				</option>
		}
	}
</select>

<select id="selectedIntake" name="Iid" class="form-control w-50 mx-auto my-1">
	<option value="">Select Intake</option>
	@foreach (var intake in ViewBag.Intakes)
	{
		if (ViewBag.intake == intake.Id)
		{
			<option value="@intake.Id" selected>
				@intake.Name
			</option>
		}
		else
		{
			<option value="@intake.Id">
				@intake.Name
			</option>
		}
	}
</select>
<a id="ShowStudents" href="#" > Show Students</a>

@* <input type="date" value="@ViewBag.Date?.ToString("yyyy-MM-dd")" name="date" id="date" max="@DateOnly.FromDateTime(DateTime.Today).ToString("yyyy-MM-dd")" class="form-control w-50 mx-auto my-1" />
 *@


	
    <table class="table table-bordered">
        <thead>
			<tr>
				<th>Student Name</th>
				<th>Status</th>
			</tr>
        </thead>
        <tbody>
            @for (int i = 0; i < students.Count; i++)
			{
				<tr>
				<form asp-action="SaveRecords">
							<td>@students[i].Name</td>
				<input name="StdID" asp-for="@students[i].Id" hidden />
				<input name="Date" value="@DateTime.UtcNow.Date.ToString("yyyy-MM-dd")" hidden />
				<input name="TimeOfAttendance" value="@DateTime.Now.TimeOfDay" hidden />
							<td>
								<select name="status" class="form-control">
									<option value="Present">Present</option>
									<option value="Absent">Absent</option>
									<option value="Late">Late</option>
								</select>
							</td>
							<td>
								<input type="submit" />
							</td>
					</form>
					
				</tr>
			}

           
        </tbody>
    </table>

@section EmployeeScript{
	<script>
		
	
		document.getElementById("ShowStudents").addEventListener("click", (e) => {
			var Intake = document.getElementById("selectedIntake").value;
			var Track = document.getElementById("selectedTrack").value;
			console.log(Intake , Track)
			e.preventDefault();
			if (Intake != '' && Track != '') {
				window.location = "/Employee/RecordAttendance?Tid=" + Track + "&Iid=" + Intake;
				

			}

		})
	

	</script>

}


