
@model IEnumerable<Student>
@{
    	ViewBag.Title = "Record Attendance";
        Layout = "~/Views/Shared/EmployeeDashBoard.cshtml";

	@*recieve the date from viewBag*@
	var students = ViewBag.Students as List<Student> ?? new List<Student>();
	var tracks = ViewBag.Tracks as List<Track>;
	var intakes = ViewBag.Intakes as List<Intake>;
	var attendanceRecords = ViewBag.attendanceRecords as List<DailyAttendanceRecord> ?? new List<DailyAttendanceRecord>();
	SelectList trackList = new SelectList(tracks, "Id", "Name");
		SelectList intakeList = new SelectList(intakes, "Id", "Name");
		var listOfStudents = ViewBag.SRecord as List<StudentRecord> ?? new List<StudentRecord>();
}

<h2 class="text-center">Record Attendance</h2>
		<select id="selectedTrack" name="Tid" class="form-control w-50 mx-auto my-1">
    <option value="">Select Track</option>
	@foreach (var track in ViewBag.Tracks)
    {
		if(ViewBag.track == track.Id)
		{
			<option value="@track.Id" selected>
				@track.Name
			</option>
		}
		else
		{
			<option value="@track.Id">
				@track.Name
				</option>
		}
	}
</select>

<select id="selectedIntake" name="Iid" class="form-control w-50 mx-auto my-1">
	<option value="">Select Intake</option>
	@foreach (var intake in ViewBag.Intakes)
	{
		if (ViewBag.intake == intake.Id)
		{
			<option value="@intake.Id" selected>
				@intake.Name
			</option>
		}
		else
		{
			<option value="@intake.Id">
				@intake.Name
			</option>
		}
	}
</select>

 
<input type="date" value="@ViewBag.Date?.ToString("yyyy-MM-dd")"  name="date" id="date" max="@DateOnly.FromDateTime(DateTime.Today).ToString("yyyy-MM-dd")" class="form-control w-50 mx-auto my-1" />

<a id="ShowStudents" href="#" class="btn btn-primary d-block w-25 mx-auto mt-2"> Show Students</a>


	
    <table class="table table-bordered hover">
        <thead>
			<tr>
				<th>Student Name</th>
				<th>Status</th>
			</tr>
        </thead>
        <tbody>

		@foreach (var Record in attendanceRecords)
		{
			<tr>
				<td>@Record.Student.Name</td>
				<td>
					<form asp-action="SaveRecords" asp-route-track='@ViewBag.track' asp-route-intake='@ViewBag.intake'>
						<input name="ID" value="@Record.Id" hidden />
						<input name="Date" value="@Record.Date" hidden />
						<input name="TimeOfAttendance" value="@Record.TimeOfAttendance" hidden />
						<input name="StdID" value="@Record.StdID" hidden />
						<select name="status" class="form-control">
							@if(Record.Status == "Present")
							{
								<option value="Present" selected>Present</option>
								<option value="Absent" >Absent</option>
								<option value="Late" >Late</option>

							}
							@if (Record.Status == "Absent")
							{
								<option value="Present" >Present</option>
								<option value="Absent" selected>Absent</option>
								<option value="Late">Late</option>
							}
							@if (Record.Status == "Late")
							{
								<option value="Present">Present</option>
								<option value="Absent" >Absent</option>
								<option value="Late" selected>Late</option>
							}
						</select>
						<input type="submit" class="btn btn-primary"/>
					</form>
				</td>
			</tr>
		}

        </tbody>
    </table>

@section EmployeeScript{
	<script>
		
	
		document.getElementById("ShowStudents").addEventListener("click", (e) => {
			var Intake = document.getElementById("selectedIntake").value;
			var Track = document.getElementById("selectedTrack").value;
			var date = document.getElementById("date").value;
			e.preventDefault();
			if (Intake != '' && Track != ''&&date != '') {
				window.location = "/Employee/RecordAttendance?Tid=" + Track + "&Iid=" + Intake + "&date=" + date ;
				

			}

		})
	

	</script>

}


