@using Microsoft.CodeAnalysis.Scripting
@model IEnumerable<Permission>

@{
    Layout = "_DashboardLayout";
    ViewBag.Title = "ShowPermissions";
}


@section dashboardTitle {
    @ViewBag.student.Name Dashboard
}

@{
    @section role {
    Student
    }
}

@section links {
    <partial name="../partialViews/StudentLinks" />
}




<div id="message" class="alert alert-success d-none max-width-500 mx-auto text-c"></div>


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="row p-4">

                    <div class="card-header pb-0 col-6">
                        <h6>Permissions table</h6>
                    </div>
                    <div class="col-6 text-end">
                        <a class="btn bg-gradient-dark mb-0" asp-controller="Student" asp-action="RequestPermission" asp-route-id="@ViewBag.StudentId"><i class="fas fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Request New Permission</a>
                    </div>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                                    <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Type</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() == 0)
                                {
                                    <tr>
                                        <td colspan="5" class="text-center"><p class="lead">No permissions available</p></td>

                                    </tr>
                                }
                                else
                                {
                                    @foreach (Permission p in Model)
                                    {
                                        <tr>

                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">@p.Date</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <p class="text-xs font-weight-bold mb-0">@p.Type</p>
                                                @*                                                  <p class="text-xs text-secondary mb-0">Organization</p>
                                        *@
                                            </td>
                                            <td class="align-middle text-center text-sm">
                                                <span class="badge badge-sm bg-gradient-@(p.Status.ToLower() == "pending" ? "info" : p.Status.ToLower() == "accepted" ? "success" : "danger")">
                                                    @p.Status
                                                </span>
                                            </td>
                                            <td class="align-middle text-center">
                                                @if (p.Status.ToLower() == "pending")
                                                {
                                                    <button id="del-btn" data-id="@p.Id" class="btn badge badge-sm bg-gradient-faded-danger font-weight-bold text-xl-center">
                                                        Delete
                                                    </button>
                                                }

                                            </td>
                                        </tr>

                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*
    modal
*@
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete Permission</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this permission?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" data-id="" data-stdId="@ViewBag.StudentId" class="btn bg-gradient-danger">Delete</button>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    <script>
        const table = document.querySelector('table');
        const modalFooter = document.querySelector('.modal-footer');
        const modal = new bootstrap.Modal(document.getElementById('deleteModal'));
        const message = document.getElementById('message');
        table.addEventListener('click', (e) => {

            if (e.target.id !== 'del-btn') return;
            const id = e.target.dataset?.id;
            if (!id) return;
            modalFooter.querySelector('[data-id]').dataset.id = id;
            modal.show();
        });

        modalFooter.addEventListener('click', async (e) => {
            const id = e.target.dataset?.id;
            const stdId = e.target.dataset?.stdid;
            if (!id || !stdId) return;
            console.log(id);
            console.log(stdId);

            try {


                const res = await fetch(`/Student/DeletePermission/${id}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                const data = await res.json();

                if (data) {
                    message.innerText = "Permission deleted successfully";
                    message.classList.add('alert-success');
                    message.classList.remove('d-none');
                    const permRes = await fetch(`/Student/GetPermissions/${stdId}`, {
                        method: 'GET',
                        headers: {
                            'Content-Type': "text/html"
                        }
                    })
                    const permData = await permRes.text();
                    table.tBodies[0].innerHTML = permData;
                    setTimeout(() => {
                        message.classList.add('d-none');
                    }, 3000);



                } else {

                    message.innerText = "Permission not deleted";
                    message.classList.add('alert-danger');
                    message.classList.remove('d-none');
                    setTimeout(() => {
                        message.classList.add('d-none');
                    }, 3000);
                }
            } catch (e) {
                console.log(e);
            } finally {
                modal.hide();
            }

        })



    </script>
}


