@model IEnumerable<Schedule>
@{
    ViewData["Title"] = "DisplaySchedules";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section dashboardTitle {
    @ViewBag.instructor.Name Dashboard
}

@{
    if (User.IsInRole("supervisor"))
    {
    @section role {
    Supervisor
    }
    }
    else
    {
    @section role {
    Instructor
    }
    }
}

@section links {
    <partial name="../partialViews/instructorLinks" />
}


<h3 class="text-center mb-4">
    Schedules for track: @ViewBag.trackName
</h3>

<div class="text-center my-2">
    <a asp-action="create" asp-controller="schedule" asp-route-instID="@ViewBag.instructor.Id" class="btn btn-success">Make a new schedule</a>
</div>

<table class="table table-hover table-bordered text-center table-striped">
    <thead>
        <tr>
            <th>Schedule ID</th>
            <th>Schedaule date</th>
            <th>Start period</th>
            <th class="bg-light text-dark">Actions</th>
        </tr>
    </thead>

    <tbody class="align-middle">
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4">
                    <p class="lead text-center">No Schedules for this track</p>
                </td>
            </tr>
        }
        else
        {
            @foreach (Schedule s in Model)
            {
                <tr>
                    <td>@s.id</td>
                    <td>@s.Date</td>
                    <td>@s.StartPeriod</td>
                    <td>
                        <a asp-action="edit" asp-controller="schedule" asp-route-id="@s.id" 
                        asp-route-instID="@ViewBag.instructor.Id" class="btn btn-info my-0"
                        >Edit</a>

                        <a asp-action="delete" asp-controller="schedule"
                        onclick="populateTheDeleteBtn(@s.id, @ViewBag.instructor.Id)" 
                        class="btn btn-danger my-0"
                        data-bs-toggle="modal" 
                        data-bs-target="#deleteModal">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this schedule?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, cancel</button>
                <a asp-action="delete" asp-controller="schedule" id="deleteBtn" class="btn btn-primary">I am sure</a>
            </div>
        </div>
    </div>
</div>

<script>
    function populateTheDeleteBtn(scheduleId, instructorId) {
        document.getElementById("deleteModal").style.display = "block";
        let deleteBtn = document.getElementById("deleteBtn");
        deleteBtn.setAttribute("href", `/schedule/delete/${scheduleId}?instID=${instructorId}`);
    }
</script>

