@{
    Layout = "~/Views/Shared/AdminDashBoard.cshtml";
    var programs = ViewBag.programs as List<_Program>;
    var tracks = ViewBag.tracks as List<Track>;
    ViewBag.title = "Intake";


}
@model Intake;
<div id="sectionA">
<form asp-action="@((Model == null) ? "add" : "edit")" asp-controller="intake">
    <input asp-for="Id" hidden />
  <div class="form-group">
    <span asp-validation-for="@Model.Name"></span>
    <label asp-for="@Model.Name" class="form-label">Intake Name</label>
    <input asp-for="@Model.Name" class="form-control" id="IntakeName">
  </div>
<div class="form-group">
    <label asp-for="@Model.Year" class="form-label">Intake Year</label>
    <input asp-for="@Model.Year" type="date" class="form-control" value="@DateTime.Today.ToString("yyyy-MM-dd")">

</div>
  <div class="form-group">
    <label asp-for="@Model.Year" class="form-label">Intake Program</label>
<select class="form-select" id="programSelect" name="programid" @(Model != null ? "hidden" : "")>
                @foreach (var item in programs)
                {
                    if (Model != null && Model.ProgramId == item.Id)
                    {
                    <option value="@item.Id" selected>@item.Name</option>
                    }
                    else
                    {
                    <option value="@item.Id">@item.Name</option>
                    }
                }
</select>

  </div>

  <button type="submit" class="btn btn-info">@((Model == null) ? "Add" : "Edit")</button>
</form>
</div>
@section AdminScript {

    
}

