@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/AdminDashBoard.cshtml";
    ViewBag.title = "Intake";

}
@model  List<Intake>
<div>
    @{
                        <table class="table table-striped col-8">
            <thead>
                  <th>name</th> 
                  <th>Year</th>
                  <th>program</th>
            </thead>
    <tbody>
    @foreach(var item in Model)
        {
            <tr>
         
     
                <td>
                    @item.Name
                </td>
                         <td>
                            @item.Year.ToString().Split("/")[2]
                        </td>
                <td>
                @item.Program.Name
                </td>
               
                <td>
                        <a asp-action="Delete" asp-controller="Intake" asp-route-id = "@item.Id" class="btn btn-danger Deletebtn">Delete</a>
                </td>
                 <td>
                 <a asp-action="Edit" asp-controller="Intake" asp-route-id = "@item.Id" class="btn btn-warning">Edit</a>
                 </td>
                      <td>
                          <a asp-action="ViewTracks" asp-controller="Intake" asp-route-id = "@item.ProgramId" asp-route-intake="@item.Id" class="btn btn-info">Edit Tracks</a>
                     </td>
                </tr>

        }
            </tbody>

                  </table>
    }
</div>
<div>

    <a  class="btn btn-info" asp-action="add" asp-asp-controller="intake"> Add Intake </a> 

</div>

@section AdminScript{

    <script>
            $(".Deletebtn").click(
                (e)=>{
                    e.preventDefault()
                        Swal.fire({
                title: "Are you sure?",
                text: "Delete this track",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "I am Sure"
            }).then((res)=>{
                    if(res.isConfirmed){
                        window.location = e.target.href
                    }
            })
                }
            )
    </script>
} 